{
  "presets": [
      "react",
      [
          "env",
          {
              "targets": {
                  "browsers": [
                      "last 1 versions",
                      "ie >= 11"
                  ]
              },
              "debug": true,
              "modules": "commonjs"
          }
      ]
  ],
  "env": {
      "test": {
          "presets": [
              [
                  "babel-preset-env",
                  "react"
              ]
          ],
          "plugins": [
              "transform-object-rest-spread",
              "transform-class-properties",
              "transform-runtime",
              "babel-plugin-dynamic-import-node",
              "array-includes",
              "url-search-params-polyfill",
              "transform-object-assign",
              "transform-decorators-legacy"
          ]
      }
  },
  "plugins": [
      "transform-object-rest-spread",
      "transform-class-properties",
      "syntax-dynamic-import",
      "transform-runtime",
      "array-includes",
      "url-search-params-polyfill",
      "transform-object-assign",
      "transform-decorators-legacy"
  ]
}